{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "Do you need a web-accessible PDF?" %}

{% set captionText = "Personal Independence Payment (PIP)" %}
{% if "universalCredit" in data['benefitsOrServicesList'] %}
    {% set captionText = "Universal Credit" %}
{% endif %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/specificity/benefits-or-services/one-or-two-benefits/written-documents/summary-list-uc-digital" method="post">

            {{ govukRadios({
                classes: "govuk-radios--inline",
                name: "accessiblePdfOrNot",
                fieldset: {
                    legend: {
                        html: "<span class='govuk-caption-l'>" ~ captionText ~ "</span>" ~ pageName,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    text: "For use with assistive software. For example, Dragon or Jaws."
                },
                items: [
                    {
                        value: "Yes",
                        text: "Yes"
                    },
                    {
                        value: "No",
                        text: "No",
                        checked: true
                    }
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
