{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "How should we provide your information?" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/other-help-when-we-contact-you" method="post">

            {{ govukRadios({
                name: "otherHelp",
                fieldset: {
                    legend: {
                    text: pageName,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    text: "If you choose PDF or Word doc, we will send you a link to download your information from a secure web page. If you choose another format, we'll send it by post."
                },
                items: [
                    {
                        value: "PDF",
                        text: "PDF"
                    },
                    {
                        value: "microsoftWordDoc",
                        text: "Microsoft Word document"
                    },
                    {
                        value: "altFormat",
                        text: "Another format"
                    }
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
