{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "How should we provide your information?" %}

{% set captions = {
    "personalIndependencePayment": "Personal Independence Payment (PIP)",
    "universalCredit": "Universal Credit"
} %}
{% set captionText = captions[data.currentBenefit] %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/select-written-format" method="post">

            {{ govukRadios({
                name: "selectFormat",
                fieldset: {
                    legend: {
                        html: "<span class='govuk-caption-l'>" ~ captionText ~ "</span>" ~ pageName,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                    {
                        value: "PDF",
                        text: "PDF",
                        hint: {
                            text: "We'll send you a secure link through email to download your information."
                        }
                    },
                    {
                        value: "altFormat",
                        text: "Another format",
                        hint: {
                            text: "We'll send it to you by post."
                        }
                    }
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
