{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "What type of audio do you need?" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/delivery-format-and-address/spoken-communication-preferences/how-should-we-contact-you-if-we-need-to-speak-to-you" method="post">

            {{ govukRadios({
                name: "audioFormatOptions",
                fieldset: {
                    legend: {
                    text: pageName,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                    {
                        value: "CD",
                        text: "CD"
                    },
                    {
                        value: "MP3",
                        text: "MP3 file"
                    },
                    {
                        value: "cassette",
                        text: "Casette tape"
                    },
                    {
                        value: "DVD",
                        text: "DVD"
                    }
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
