{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "What font do you need?" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/delivery-format-and-address/spoken-communication-preferences/how-should-we-contact-you-if-we-need-to-speak-to-you" method="post">

            {{ govukRadios({
                name: "otherHelp",
                fieldset: {
                    legend: {
                    text: pageName,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                    {
                    value: "arial",
                    text: "Arial"
                    },
                    {
                    value: "calibri",
                    text: "Calibri"
                    },
                    {
                    value: "helvetica",
                    text: "Helvetica"
                    },
                    {
                    value: "tahoma",
                    text: "Tahoma"
                    },
                    {
                    value: "timesNewRoman",
                    text: "Times New Roman"
                    },
                    {
                    value: "verdana",
                    text: "Verdana"
                    }
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
