{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "What format do you need?" %}

{% set captions = {
    "personalIndependencePayment": "Personal Independence Payment (PIP)",
    "universalCredit": "Universal Credit"
} %}
{% set captionText = captions[data.currentBenefit] %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/what-other-format" method="post">

            {{ govukRadios({
                name: "otherFormat",
                fieldset: {
                    legend: {
                        html: "<span class='govuk-caption-l'>" ~ captionText ~ "</span>" ~ pageName,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    text: "Select the best option for you."
                },
                items: [
                    {
                        value: "standardDocument",
                        text: "Standard document (12-point Arial text on paper)"
                    },
                    {
                        value: "letterWithChanges",
                        text: "Document with changes to font, paper colour, spacing or print size"
                    },
                    {
                        value: "audio",
                        text: "Audio"
                    },
                    {
                        value: "braille",
                        text: "Braille"
                    },
                    {
                        value: "bsl",
                        text: "British Sign Language video"
                    }
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
