{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "What colour paper do you need?" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/delivery-format-and-address/spoken-communication-preferences/how-should-we-contact-you-if-we-need-to-speak-to-you" method="post">

            {{ govukRadios({
                name: "colouredPaper",
                fieldset: {
                    legend: {
                    text: pageName,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                    {
                    value: "cream",
                    text: "Cream"
                    },
                    {
                    value: "palePink",
                    text: "pale pink"
                    },
                    {
                    value: "pastelBlue",
                    text: "Pastel blue"
                    },
                    {
                    value: "pastelYellow",
                    text: "Pastel yellow"
                    }
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
