{% extends "layouts/user-journey.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "How should we contact you if we need more information?" %}

{% set phoneHtml %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contactByPhone",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "UK phone number"
  }
}) }}
{% endset -%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/cyi/confirm-your-identity" method="post">

      {{ govukRadios({
        name: "contact-preferences",
        fieldset: {
          legend: {
            text: pageName,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "We usually contact people by phone, but you can let us know if you need something  different. Select the option that best suits your needs."
        },
        items: [
          {
            value: "phoneCall",
            text: "Standard phone call",
            conditional: {
              html: phoneHtml
            }
          },
          {
            value: "byPost",
            text: "By post"
          },
          {
            divider: "or"
          },
          {
            value: "iNeedSomethingDifferent",
            text: "I need something different"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
