
{% macro phoneList(numbers) %}

{% if numbers and numbers.length > 0 %}

  <h2 class="govuk-heading-s">Your phone numbers</h2>

  <ul class="govuk-list govuk-!-margin-bottom-6">

    {% for number in numbers %}
      
      <li class="govuk-!-margin-bottom-2">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">
            {{ number }}
          </div>

          <div class="govuk-grid-column-one-third govuk-!-text-align-right">
            <a href="/remove-phone/{{ loop.index0 }}" class="govuk-link">
              Delete<span class="govuk-visually-hidden"> phone number {{ number }}</span>
            </a>
          </div>

        </div>

      </li>

      {% if not loop.last %}
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-2">
      {% endif %}

    {% endfor %}

  </ul>

{% endif %}

{% endmacro %}
