
{% macro phoneList(numbers) %}

{% if numbers and numbers.length > 0 %}

  <h2 class="govuk-heading-s">Your phone numbers</h2>

  <ul class="govuk-list govuk-!-margin-bottom-6">

    {% for number in numbers %}
      
      <li class="govuk-clearfix govuk-!-margin-bottom-2">

        <div class="govuk-!-float-left">
          {{ number }}
        </div>

        <div class="govuk-!-float-right">
          <a href="#" class="govuk-link">Remove</a>
        </div>

      </li>

      {% if not loop.last %}
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-2">
      {% endif %}

    {% endfor %}

  </ul>

{% endif %}

{% endmacro %}
