registry=https://registry.npmjs.org/

# DWP private package registry
@dwp:registry=https://gitlab.com/api/v4/projects/right-of-access-request/packages/npm/.



strict-ssl=false
cafile=/etc/ssl/cert.pem
always-auth=true