{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "Where should we send your printed information?" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/cyi/confirm-your-identity" method="post">

            {{ govukRadios({
            name: "deliveryAddress",
            fieldset: {
                legend: {
                text: pageName,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: "You've chosen to receive some or all of your information in printed format. We will  send your documents to your chosen address."
            },
            items: [
                {
                value: "currentAddress",
                text: "Your current address",
                hint: {
                    html: "87-89 Mosley St<br>
                    Manchester<br>
                    M2 3LR"
                    },
                checked: true
                }
,
                {
                    value: "differentAddress",
                    text: "A different address"
                }
            ]
            }) }}

            {{ govukButton({
            text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
