{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "How do you want to receive your call recording?" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/mp3-or-cd" method="post">

      {{ govukRadios({
        name: "signIn",
        fieldset: {
          legend: {
            text: pageName,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "mp3",
            text: "Digital audio file (MP3)",
            hint: {
              text: "We’ll send a link to your email to download a file"
            }
          },
          {
            value: "compactDisc",
            text: "CD (compact disc)",
            hint: {
              text: "We’ll post a CD to the address you give us"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
