{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "How many calls is this request about?" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/how-many-calls" method="post">

      {{ govukRadios({
        name: "numberOfCalls",
        fieldset: {
          legend: {
            html: '
              <span class="govuk-caption-l">Personal Independence Payment (PIP)</span>
              ' + pageName + '
            ',
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "one",
            text: "One"
          },
          {
            value: "two-or-more",
            text: "Two or more"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
