{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName="What is your address abroad?" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="lived-at-another-address" method="post">

            {{ govukTextarea({
                name: "addressAbroad",
                id: "address-abroad",
                label: {
                    text: pageName,
                    classes: "govuk-label--l",
                    isPageHeading: true
                }
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
