{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName="What are your previous names?" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="dob" method="post">

            {{ govukTextarea({
                name: "moreDetail",
                id: "more-detail",
                label: {
                    text: pageName,
                    classes: "govuk-label--l",
                    isPageHeading: true
                },
                hint: {
                    text: "Write each name in full (first name and last name)"
                }
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
