{% extends "layouts/user-journey.html" %}
{% from "components/phoneList.njk" import phoneList %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "Add another phone number" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/which-phone-number" method="post">

      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

      {{ phoneList(data.phoneNumbers) }}

      {{ govukInput({
        label: {
          text: "Phone number",
          classes: "govuk-!-margin-top-4"
        },
        hint: {
          text: "For international numbers include the country code"
        },
        id: "phone-number",
        name: "phoneNumber",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-20"
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

        {{ govukButton({
          text: "Add another phone number",
          classes: "govuk-button--secondary",
          name: "action",
          value: "add"
        }) }}
      </div>

    </form>
  </div>
</div>

{% endblock %}
