{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "Did you use multiple phone numbers for the calls?" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="what-phone-number-did-you-use-for-the-call" method="post">

      {{ govukRadios({
        name: "oneOrMorePhoneNumber",
        fieldset: {
          legend: {
            text: pageName,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "one",
            text: "I used one phone number"
          },
          {
            value: "moreThanOne",
            text: "I used more than one phone number"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
