{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "Give a detailed description of the request" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/how-do-you-want-to-receive-your-call-recording" method="post">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <p class="govuk-body">
        Tell us:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>approximately how many calls you are requesting</li>
        <li>dates and times for each call</li>
        <li>what the calls were about </li>
        <li>who you were speaking to</li>
      </ul>

      {{ govukTextarea({
        name: "callDetail",
        id: "call-detail",
        rows: "8",
        label: {
          text: "Give as much detail as you can",
          classes: "govuk-label--m"
        }
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
