{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "Tell us more about the call" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/how-do-you-want-to-receive-your-call-recording" method="post">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <p class="govuk-body">
        Tell us anything else you remember. For example:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the approximate time of the call</li>
        <li>the name of the person you spoke to</li>
        <li>what the call was about</li>
        <li>if you were transferred</li>
      </ul>

      {{ govukTextarea({
        name: "callDetail",
        id: "call-detail",
        rows: "8",
        label: {
          text: "Call details",
          classes: "govuk-label--m"
        }
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
