{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "Which phone number did you use for the calls?" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/which-phone-number" method="post">

      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

      <p class="govuk-body">
        We need the phone number you called from or the number that DWP called you on to find the calls on our system.
      </p>

      <p class="govuk-body">
        If you used more than one phone number to make or receive calls, you can add them later.
      </p>

      {{ govukInput({
        label: {
          text: "Phone number"
        },
        hint: {
          text: "For international numbers include the country code"
        },
        id: "phone-number",
        name: "phoneNumber",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-20"
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

        {{ govukButton({
          text: "Add another phone number",
          classes: "govuk-button--secondary",
          name: "action",
          value: "add"
        }) }}
      </div>

    </form>
  </div>
</div>

{% endblock %}
