{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'false' %}

{% set pageName = "Select the types of information you want to request about Personal Independence Payment" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/how-many-calls-is-this-request-about" method="post">

      {{ govukCheckboxes({
        name: "typesOfInformationPip",
        fieldset: {
          legend: {
            text: pageName,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply"
        },
        items: [
          {
            value: "callRecordings",
            text: "Recordings of calls with DWP"
          },
          {
            value: "applicationOrClaimInformation",
            text: "Your application or claim information"
          },
          {
            value: "assessmentReports",
            text: "Assessment reports"
          },
          {
            value: "evidences",
            text: "Evidence you've sent us"
          },
          {
            value: "caseNotes",
            text: "Notes about your claim"
          },
          {
            value: "lettersFormsMessages",
            text: "Letters, forms and messages from DWP"
          },
          {
            value: "decisions",
            text: "Decisions about your claim"
          },
          {
            divider: "or"
          },
          {
            value: "something-else",
            text: "Something else",
            behaviour: "exclusive"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
