{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "Continue to enter the information you need for:" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/specificity/benefits-or-services/edge-cases/what-information-do-you-need" method="post">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>Written documents</li>
      </ul>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
