{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "Tell us more about your request for Personal Independence Payment (PIP)" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="benefits-or-services-list" method="post">

            <h1 class="govuk-heading-l">
                {{ pageName }}
            </h1>

            <p class="govuk-body">
                Tell us:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>what information you need</li>
                <li>the time period that the information should cover</li>
            </ul>

            <p class="govuk-body">
                For example:
            </p>

            {% call govukInsetText() %}
                "I need my PIP award notices and payment history from 1 April 2023 to 31 March 2025."
            {% endcall %}


            {{ govukTextarea({
                name: "moreDetail",
                id: "more-detail",
                rows: "8",
                label: {
                text: "Request details",
                classes: "govuk-label--m"
                }
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
