{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "Tell us about the documents you need" %}

{% set itemLabels = {
    "your-application-or-claim-information": "Your application or claim information",
    "payment-history": "Payment history and statements",
    "overpayments": "Overpayments and repayments",
    "evidence": "Evidence you've sent us",
    "assessment-reports": "Assessment reports",
    "earnings": "Your self-employed earnings information",
    "journal-entries": "Journal entries",
    "case-notes": "Notes about your claim",
    "decisions": "Decisions, mandatory reconsiderations and appeals",
    "claim-reviews": "Universal Credit claim reviews"
} %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/uc-tell-us-more-about-documents" method="post">

            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Universal Credit</span>  
                {{ pageName }}
            </h1>

            <p class="govuk-body">
                Tell us:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>the time period that the documents should cover</li>
                <li>any other supporting information that would help us find your documents faster</li>
            </ul>

            <p class="govuk-body">
                For example:
            </p>

            {% call govukInsetText() %}
                "I need my PIP award notices and payment history from 1 April 2023 to 31 March 2025."
            {% endcall %}


            {% if data ['typesOfInformationUC'] %}
            <p class="govuk-body">
                You've requested the following documents:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                {% for item in data['typesOfInformationUC'] %}
                    {% if item != "callRecordings" %}
                        <li>{{ itemLabels[item] }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}


            {{ govukTextarea({
                name: "moreDetailUC",
                id: "more-detail",
                rows: "8",
                label: {
                text: "Request details",
                classes: "govuk-label--m"
                }
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
