{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "Tell us about the documents you need" %}

{% set itemLabels = {
    "applicationOrClaimInformation": "Your application or claim information",
    "assessmentReports": "Assessment reports",
    "evidences": "Evidence you've sent us",
    "caseNotes": "Notes about your claim",
    "lettersFormsMessages": "Letters, forms and messages from DWP",
    "decisions": "Decisions about your claim"
} %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/pip-information" method="post">

            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Personal Independent Payment (PIP)</span>  
                {{ pageName }}
            </h1>

            <p class="govuk-body">
                Tell us:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>the time period that the documents should cover</li>
                <li>any other supporting information that would help us find your documents faster</li>
            </ul>

            <p class="govuk-body">
                For example:
            </p>

            {% call govukInsetText() %}
                "I need my PIP award notices and payment history from 1 April 2023 to 31 March 2025."
            {% endcall %}


            {% if data ['typesOfInformationPip'] %}
            <p class="govuk-body">
                You've selected to request the following documents:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                {% for item in data['typesOfInformationPip'] %}
                    {% if item != "callRecordings" %}
                        <li>{{ itemLabels[item] }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}


            {{ govukTextarea({
                name: "moreDetailPIP",
                id: "more-detail",
                rows: "8",
                label: {
                text: "Request details",
                classes: "govuk-label--m"
                }
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
