{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set pageName = "What do you look like in the footage?" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/delivery-format-and-address/where-should-we-send-your-information" method="post">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <p class="govuk-body">
        For example, tell us what were you wearing (clothing colour, bag, uniform).
      </p>

      <p class="govuk-body">
        If we cannot identify you, we cannot give you the footage.
      </p>

      {{ govukTextarea({
        name: "moreDetail",
        id: "more-detail",
        label: {
          text: "Footage details",
          classes: "govuk-label--s"
        }
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
