{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}
{% set backLink = 'false' %}

{% set pageName="What personal information do you need?" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="personal-information-you-need" method="post">

      {{ govukCheckboxes({
        name: "personalInformationYouNeed",
        fieldset: {
          legend: {
            text: pageName,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply"
        },
        items: [
          {
            value: "benefits-or-services",
            text: "Benefits or services"
          },
          {
            value: "cctv-or-body-worn-camera-footage",
            text: "CCTV or body worn camera footage",
            hint: {
              text: "We only keep footage from the last 30 days. It does not include sound"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
