{% extends "layouts/main.html" %}

{% set pageName = "Page index" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{pageName}}
    </h1>

    <h2 class="govuk-heading-m">
      Start page
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Start page</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      User details
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/user-details/name">What is your full name?</a>
      </li>
      <li>
        <a class="govuk-link" href="/user-details/known-by-another-name">Have you changed your name?</a>
      </li>
      <li>
        <a class="govuk-link" href="/user-details/previous-name">What are your previous names?</a>
      </li>
      <li>
        <a class="govuk-link" href="/user-details/dob">What is your date of birth?</a>
      </li>
      <li>
        <a class="govuk-link" href="/user-details/live-in-uk">Do you live in the UK?</a>
      </li>
      <li>
        <a class="govuk-link" href="/user-details/address-abroad">What is your address abroad?</a>
      </li>
      <li>
        <a class="govuk-link" href="/user-details/find-uk-address">Find your address</a>
      </li>
      <li>
        <a class="govuk-link" href="/user-details/choose-your-address">Choose your address</a>
      </li>
      <li>
        <a class="govuk-link" href="/user-details/enter-your-address-manually">What is your address?</a>
      </li>
      <li>
        <a class="govuk-link" href="/user-details/lived-at-another-address">Have you lived at another address in the last 5 years?</a>
      </li>
      <li>
        <a class="govuk-link" href="/user-details/is-the-address-in-the-uk">Is the address in the UK?</a>
      </li>
      <li>
        <a class="govuk-link" href="/user-details/your-previous-addresses">Your previous addresses</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Specificity
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/specificity/what-personal-information-do-you-need">What personal information do you need</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/which-benefits-or-services-is-your-request-related-to">Which benefit or service is your request about?</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      CCTV
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/specificity/cctv-or-body-worn-camera-footage/which-dwp-building-was-the-footage-recorded">Which DWP building was the footage recorded in?</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/cctv-or-body-worn-camera-footage/date-and-time">Date and time</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/cctv-or-body-worn-camera-footage/what-happened-in-the-footage">What happened in the footage?</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/cctv-or-body-worn-camera-footage/what-do-you-look-like-in-the-footage">What do you look like in the footage?</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Info types – one or two benefits
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/one-or-two-benefits/types-of-information-pip">Select the types of information you want to request about Personal Independence Payment</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/one-or-two-benefits/types-of-information-uc">Select the types of information you want to request about Universal Credit</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/one-or-two-benefits/types-of-information">Select the types of information you want to request about [Benefit name]</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Info types – edge cases
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/edge-cases/types-of-information">Select the types of information you want to request</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/edge-cases/tell-us-more-about-the-calls">Tell us more about the calls</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/edge-cases/what-information-do-you-need">What information do you need?</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Call recordings
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/how-many-calls-is-this-request-about">How many calls is this request about?</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/how-do-you-want-to-receive-your-call-recording">How do you want to receive your call recording?</a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      One
    </h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/one/what-phone-number-did-you-use-for-the-call">What phone number did you use for the call?</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/one/when-did-the-call-happen">When did the call happen?</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/one/tell-us-more-about-the-call">Tell us more about the call</a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      Two or more
    </h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/two-or-more/did-you-use-different-phone-numbers-for-the-calls">Did you use multiple phone numbers for the calls?</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/two-or-more/what-phone-number-did-you-use-for-the-call">What phone number did you use for the call?</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/two-or-more/add-another-phone-number">You've added [] phone numbers</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/two-or-more/remove-phone-number">Are you sure you want to remove this phone number?</a>
      </li>
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/two-or-more/tell-us-more-about-the-calls">Tell us more about the calls</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Written documents
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/specificity/benefits-or-services/one-or-two-benefits/written-documents/tell-us-more-about-your-request">Tell us more about your request for [Benefit name]</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Delivery, format and address
    </h2>

    <h3 class="govuk-heading-s">
      Digital delivery
    </h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/digital-delivery/what-is-your-email-address">What is your email address?</a>
      </li>
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/digital-delivery/check-your-email">Check your email</a>
      </li>
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/digital-delivery/we-have-confirmed-your-email-address">We have confirmed your email address</a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      Postal delivery
    </h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/where-should-we-send-your-information">Where should we send your information?</a>
      </li>
      <li>
        <a class="govuk-link" href="#">A different address</a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      Written communication preferences
    </h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/written-communication-preferences/how-should-we-write-to-you">How should we provide your information?</a>
      </li>
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/written-communication-preferences/do-you-need-an-accessible-pdf">Do you need an accessible PDF?</a>
      </li>
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/written-communication-preferences/what-format-do-you-need">What format do you need?</a>
      </li>
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/written-communication-preferences/what-changes-do-you-need">What changes do you need?</a>
      </li>
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/written-communication-preferences/what-font-do-you-need">What font do you need?</a>
      </li>
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/written-communication-preferences/what-colour-paper-do-you-need">What colour paper do you need?</a>
      </li>
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/written-communication-preferences/what-size-print-do-you-need">What size print do you need?</a>
      </li>
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/written-communication-preferences/what-type-of-audio-do-you-need">What type of audio do you need?</a>
      </li>
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/written-communication-preferences/what-type-of-braille-do-you-need">What type of braille do you need?</a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      Spoken communication preferences
    </h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/spoken-communication-preferences/how-should-we-contact-you-if-we-need-to-speak-to-you">How should we contact you if we need more information?</a>
      </li>
      <li>
        <a class="govuk-link" href="/delivery-format-and-address/spoken-communication-preferences/what-do-you-need">What do you need?</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Confirm your identity
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/cyi/confirm-your-identity">Confirm your identity</a>
      </li>
      <li>
        <a class="govuk-link" href="/cyi/name-a-dwp-payment-you-are-currently-receiving">Name a DWP payment you are currently receiving</a>
      </li>
      <li>
        <a class="govuk-link" href="/cyi/what-is-the-weekly-or-monthly-amount-of-the-benefit">What is the weekly or monthly amount of the benefit?</a>
      </li>
      <li>
        <a class="govuk-link" href="/cyi/when-did-you-receive-your-last-payment">When did you receive your last payment?</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Secure share
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/secure-share/your-files-are-ready-to-download">Your files are ready to download</a>
      </li>
      <li>
        <a class="govuk-link" href="/secure-share/enter-your-security-code">Enter your security code</a>
      </li>
      <li>
        <a class="govuk-link" href="/secure-share/download-your-documents">Download your documents</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
