{% extends "layouts/main.html" %}

{% set pageName = "Page index" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{pageName}}
    </h1>

    <h2 class="govuk-heading-m">
      Specificity
    </h2>

    <p class="govuk-body">
      <a href="/specificity/what-personal-information-do-you-need" class="govuk-link govuk-link--no-visited-state">
        What personal information do you need
      </a>
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Benefits or services
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/specificity/benefits-or-services/which-benefits-or-services-is-your-request-related-to" class="govuk-link govuk-link--no-visited-state">
              Which benefit or service is your request about
            </a>
            <ul class="govuk-list govuk-list--bullet">
              <li>One or two benefits
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <a href="/specificity/benefits-or-services/one-or-two-benefits/types-of-information-uc" class="govuk-link govuk-link--no-visited-state">
                      Types of information – UC
                    </a>
                  </li>
                  <li>
                    <a href="/specificity/benefits-or-services/one-or-two-benefits/types-of-information-pip" class="govuk-link govuk-link--no-visited-state">
                      Types of information – PIP
                    </a>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        Call recordings
                        <ul class="govuk-list govuk-list--bullet">
                          <li>
                            <a href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/how-many-calls-is-this-request-about" class="govuk-link govuk-link--no-visited-state">
                              How many calls is this request about
                            </a>
                            <ul class="govuk-list govuk-list--bullet">
                              <li>
                                One
                                <ul class="govuk-list govuk-list--bullet">
                                  <li>
                                    <a href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/one/what-phone-number-did-you-use-for-the-call" class="govuk-link govuk-link--no-visited-state">
                                      What phone number did you use for the call
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/one/when-did-the-call-happen" class="govuk-link govuk-link--no-visited-state">
                                      When did the call happen
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/one/tell-us-more-about-the-call" class="govuk-link govuk-link--no-visited-state">
                                      Tell us more about the call
                                    </a>
                                  </li>
                                </ul>
                              </li>
                              <li>
                                Two or more
                                <ul class="govuk-list govuk-list--bullet">
                                  <li>
                                    <a href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/two-or-more/which-phone-number-did-you-use-for-the-calls" class="govuk-link govuk-link--no-visited-state">
                                      Which phone number did you use for the calls
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/two-or-more/add-another-phone-number">
                                      Add another phone number
                                    </a>
                                  </li>
                                  <li>
                                    <a href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/two-or-more/give-a-detailed-description">
                                      Give a detailed description of the request
                                    </a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href="/specificity/benefits-or-services/one-or-two-benefits/call-recordings/how-do-you-want-to-receive-your-call-recording" class="govuk-link govuk-link--no-visited-state">
                              How do you want to receive your call recording
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        Written documents
                      </li>
                      <li>
                        Something else
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>More than two benefits
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <a href="/specificity/benefits-or-services/more-than-two-benefits/what-time-period-do-you-need-information-for" class="govuk-link govuk-link--no-visited-state">
                      Enter the start and end dates for the information you need
                    </a>
                  </li>
                  <li>
                    <a href="/specificity/benefits-or-services/more-than-two-benefits/tell-us-more-about-your-request" class="govuk-link govuk-link--no-visited-state">
                      Tell us more about your request
                    </a>
                  </li>
                  <li>
                    How should we write to you
                  </li>
                </ul>
              </li>
              <li>Edge cases
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <a href="/specificity/benefits-or-services/one-or-two-benefits/types-of-information" class="govuk-link govuk-link--no-visited-state">
                      Types of information
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        CCTV or body worn camera footage
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/specificity/cctv-or-body-worn-camera-footage/which-job-centre-was-the-footage-recorded-in" class="govuk-link govuk-link--no-visited-state">
              Which job centre was the footage recorded in
            </a>
          </li>
          <li>
            <a href="/specificity/cctv-or-body-worn-camera-footage/date-and-time" class="govuk-link govuk-link--no-visited-state">
              Date and time
            </a>
          </li>
          <li>
            What happened in the footage
          </li>
          <li>
            What do you look like in the footage
          </li>
          <li>
            Where should we send your footage
          </li>
        </ul>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Delivery format and address
    </h2>

    <h3 class="govuk-heading-s">
      Digital delivery
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/delivery-format-and-address/digital-delivery/what-is-your-email-address" class="govuk-link govuk-link--no-visited-state">
          What is your email address
        </a>
      </li>
      <li>
        <a href="/delivery-format-and-address/digital-delivery/check-your-email" class="govuk-link govuk-link--no-visited-state">
          Check your email
        </a>
      </li>
      <li>
        <a href="/delivery-format-and-address/digital-delivery/we-have-confirmed-your-email-address" class="govuk-link govuk-link--no-visited-state">
          We have confirmed your email address
        </a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      Spoken communication preferences
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/delivery-format-and-address/spoken-communication-preferences/how-should-we-contact-you-if-we-need-to-speak-to-you" class="govuk-link govuk-link--no-visited-state">
          How should we contact you if we need to speak to you
        </a>
      </li>
      <li>
        <a href="/delivery-format-and-address/spoken-communication-preferences/what-signing-or-lipspeaking-service-do-you-need" class="govuk-link govuk-link--no-visited-state">
          What signing or lipspeaking service do you need
        </a>
      </li>
      <li>
        <a href="/delivery-format-and-address/spoken-communication-preferences/do-you-need-any-other-help-when-we-contact-you" class="govuk-link govuk-link--no-visited-state">
          Do you need any other help when we contact you
        </a>
      </li>
      <li>
        <a href="/delivery-format-and-address/spoken-communication-preferences/what-other-help-do-you-need-when-we-contact-you" class="govuk-link govuk-link--no-visited-state">
          What other help do you need when we contact you
        </a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      Written communication preferences
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/delivery-format-and-address/written-communication-preferences/how-should-we-write-to-you" class="govuk-link govuk-link--no-visited-state">
          How should we write to you
        </a>
      </li>
      <li>
        <a href="/delivery-format-and-address/written-communication-preferences/what-changes-do-you-need" class="govuk-link govuk-link--no-visited-state">
          What changes do you need
      </li>
      <li>
        <a href="/delivery-format-and-address/written-communication-preferences/what-colour-paper-do-you-need" class="govuk-link govuk-link--no-visited-state">
          What colour paper do you need
        </a>
      </li>
      <li>
        <a href="/delivery-format-and-address/written-communication-preferences/what-font-do-you-need" class="govuk-link govuk-link--no-visited-state">
          What font do you need
        </a>
      </li>
      <li>
        <a href="/delivery-format-and-address/written-communication-preferences/what-size-print-do-you-need" class="govuk-link govuk-link--no-visited-state">
          What size print do you need
        </a>
      </li>
      <li>
        <a href="/delivery-format-and-address/written-communication-preferences/what-type-of-audio-do-you-need" class="govuk-link govuk-link--no-visited-state">
          What type of audio do you need
        </a>
      </li>
      <li>
        <a href="/delivery-format-and-address/written-communication-preferences/what-type-of-braille-do-you-need" class="govuk-link govuk-link--no-visited-state">
          What type of braille do you need
        </a>
      </li>
      <li>
        <a href="/delivery-format-and-address/written-communication-preferences/what-video-format-do-you-need" class="govuk-link govuk-link--no-visited-state">
          What video format do you need
        </a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
