
{% extends "layouts/user-journey.html" %}

{% set phaseBanner = 'true' %}

{% set pageName = "We have confirmed your email address" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/delivery-format-and-address/where-should-we-send-your-information" method="post">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
